*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}
.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
    /* box1 */
.nav-logo {
    height: 50px;
    width: 100px;
    background-color: blue;
}
.logo {
    background-image: url("C:\Users\globa\Downloads");
    background-position: center;
    background-size: cover;
    height: 50px;
    width: 100%;  
}
.border {
    border: 1px solid transparent;
}
.border:hover {
    border: 1.5px solid white;
}
      /* box2 */
.add-first {
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}
.add-second {
    font-size: 1rem;
    margin-left: 3px;
}
.add-icon {
    display: flex;
    align-items: center;
}
   /* box3 */
.nav-search {
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 600px;
    height: 35px;
    border-radius: 6px;
}
.search-select {
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border: none;
}
.search-input {
    font-size: 1rem;
    width: 100%;
    border: none;
}
.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #febd68;
    font-size: 1.2rem;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    color: #0f1111;
}
.nav-search :hover {
    border: 2px solid orange;
}
   /* box4  box5 */
span {
   font-size: 0.7rem;
}
.nav-second {
    font-size: 0.85rem;
    font-weight: 700;
}
   /* box6 */
.nav-cart i {
    font-size: 30px;
}
.nav-cart {
    font-weight: 700;
    font-size: 0.85rem;
}
   /* PANNEL */
.pannel {
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.pannel-ops p {
    display: inline;
    margin-left: 15px;
}
.pannel-ops {
    width: 70%;
    font-size: 0.85rem;
}
.pannel-deals {
    font-size: 0.90rem;
    font-weight: 700;
}
  /* HERO SECTION */
.hero-section {
    background-image: url(amazon1.jpg);
    background-size: cover;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-message {
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 25px;
}
.hero-message a {
    color: #007185;
}

.shop-section {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    background-color: #e2e7e6;
}
.box {
    /* border: 2px solid black; */
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin: 15px;   
}
.box-content p {
    margin-left: 1rem;
    margin-right: 1rem;
    color: #007185;
}
.box-content h2 {
    margin-left: 1rem;
    margin-right: 1rem;
}
.box-image1 {
    height: 300px;
    background-image: url(box2_image.jpg);
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem; 
    background-position: center; 
}
.box-image2 {
    height: 300px;
    background-image: url(image5.jpg);
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;  
    background-position: center;

}
.box-image3 {
    height: 300px;
    background-image: url(image2.jpg);
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    background-position: center;
}
.box-image4 {
    height: 300px;
    background-image: url(image3.jpg);
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    background-position: center;
}
.box-image5 {
    height: 300px;
    background-image: url(box1_image.jpg);
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    background-position: center;  
}
.box-image6 {
    height: 300px;
    background-image: url(box5_image.jpg);
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem; 
    background-position: left; 
}
.box-image7 {
    height: 300px;
    background-image: url(image1.jpg);
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    background-position: center;
}
.box-image8 {
    height: 300px;
    background-image: url(image4.jpg);
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    background-position: center;
}
  /* FOOTER  */
  footer {
    margin-top: 15px;
  }
.footer-panel1 {
    background-color: #37475a;
    color: white;
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}
.footer-panel2 {
    background-color: #222f3d;
    height: 200px;
    color: white;
    display: flex;
    justify-content: space-evenly;
}
ul {
    margin-top: 20px;
}
ul a {
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}
.footer-panel3 {
    background-color: #222f3d;
    border: 0.5px solid white;
    color: white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot-logo {
    background-image: url("amazon_logo.jpg");
    background-size: cover;
    background-position: center;
    height: 50px;
    width: 100px;  
}
.footer-panel4 {
    background-color: #0f1111;
    color: white;
    height: 75px;
    font-size: 0.7rem;
    text-align: center;
}
.pages {
    padding-top: 20px; 
}
.copyright {
   padding-top: 5px;
}
