 /* #box1 {
    height: 100px;
    width: 300px;
    background-color: green;
    font-size: 20px;
}
#box2 {
    /* height: 50px; */
    /* width: 33%;
    background-color: blue;
    margin-left: 30%;
    font-size: 2em;
    width: 5rem;
    height: 10vh; 
}
  */

  div {
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 2px solid black;
    display: inline-block;
    position: static;
}

#box1 {
    position: static;
    
}

#box2 {
    position: relative;
    top: -20px;
    left: -10px;
    z-index: 6;
}

#box3 {
    position: absolute;
    top: 100px;
    right: 900px;
}

#box4 {
    position: fixed;
    top: 80px;
    right: 1100px;
}
  
