.box {
    height: 200px;
    width: 200px;
    background-color: aquamarine;
    text-align: center;
    transition-property: all;
    transition-duration: 1.5s;
    transition-timing-function: steps(3);
    /* transition-timing-function: ease-in; */
    transition-delay: 1s;
    /* transition: all 2s steps(5) 1s; */
    position: absolute;
    top: 100px;
    left: 100px;
    /* transform: rotate(45deg); */          /* same (use one)  */
    rotate: 45deg;
}
.box:hover {
    background-color: darkgoldenrod;
    color: aliceblue;
    font-size: 20px;
}
.box:active {
    transform: skew(45deg);
    background-color: deeppink;
    color: darkgreen;
    font-size: 30px;
}



.box1 {
    height: 200px;
    width: 200px;
    background-color:yellow;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top: 200px;
    left: 600px;
    transition: all 2s ease-in;
}
.box1:hover {
    background-color: coral;
    transform: scale(1.5);
    rotate: 90deg;
    font-size: 20px;
}
.box1:active {
    transition: all 3s ease-in;
    background-image: url(mahadev.png);
    background-size: contain; 
    font-size: 15px;
    color: white; 
    rotate: 360deg;
    transform: scale(2);
}
  .box1::after {
    content: "Box"; /* Default text */
  }
  
  .box1:active::after {
    
    content: "Mahadev"; /* Text when active */ 
  }



  .box2 {
    height: 200px;
    width: 200px;
    background-color: darkred;
    text-align: center;
    position: absolute;
    top: 500px;
    left: 300px;
    transition: all 3s ease-in;
  }
  .box2:hover {
    background-color:hotpink;
    transform: translate(150px,40px);
    font-size: 20px;
   
}


.box3 {
    height: 200px;
    width: 200px;
    border-radius: 75%;
    /* border-left: 8px solid black; */
    background-color:slategray;
    text-align: center;
    position: absolute;
    top: 100px;
    right: 100px;
    animation-name: colorAnimate;
    animation-duration:0.25s;
    /* animation-timing-function:ease-in ; */
    animation-delay:0s;
    animation-iteration-count: infinite;
}
@keyframes colorAnimate {
    from {background-color: slategray;}
    to {background-color:darkgoldenrod;}
}



.box4 {
    height: 200px;
    width: 200px;
    background-color:slategray;
    text-align: center;
    position: absolute;
    top: 400px;
    right: 300px;
    animation-name: colorAnime;
    animation-duration:3s;
    /* animation-timing-function:ease-in ; */
    animation-delay:0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
}
@keyframes colorAnime {
    from {right: 0px;
    background-color: chartreuse;}
    to {right: 300px;
     background-color: deeppink; 
     color: white;}
}


/* PRACTICE SET - 8 */


.loader {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 20px solid  #ffe66f;
    border-top: 20px solid #4ECDC4;
    position: absolute;
    top: 500px;
    right: 650px;
    animation: spinanimate 1s ease-in-out 0s infinite normal;
}


@keyframes spinanimate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}